.DS_Store
*Icon*


.Rproj.user
.Rhistory
.RData


*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
external-datasets/snATACseq/GSE236575_RAW.tar
external-datasets/snATACseq/GSM7558081_S090_01_mmepiAT_CHD_ATAC_ER-1_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558082_S090_02_mmepiAT_HFD_ATAC_ER-1_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558083_S090_03_mmepiAT_CC_ATAC_ER-1_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558085_S090_04_mmepiAT_HC_ATAC_ER-1_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558086_S090_05_mmepiAT_CHD_ATAC_ER-2_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558087_S090_06_mmepiAT_HFD_ATAC_ER-2_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558088_S090_07_mmepiAT_CC_ATAC_ER-2_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558090_S090_08_mmepiAT_HC_ATAC_ER-2_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558091_S090_09_mmepiAT_CHD_ATAC_ER-3_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558092_S090_10_mmepiAT_HFD_ATAC_ER-3_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558093_S090_11_mmepiAT_CC_ATAC_ER-3_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558094_S090_12_mmepiAT_HC_ATAC_ER-3_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558096_S091_01_mmepiAT_LCHD_ATAC_ER-1_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558097_S091_02_mmepiAT_LHFD_ATAC_ER-1_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558098_S091_03_mmepiAT_LCC_ATAC_ER-1_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558099_S091_04_mmepiAT_LHC_ATAC_ER-1_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558101_S091_05_mmepiAT_LCHD_ATAC_ER-2_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558102_S091_06_mmepiAT_LHFD_ATAC_ER-2_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558103_S091_07_mmepiAT_LCC_ATAC_ER-2_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558104_S091_08_mmepiAT_LHC_ATAC_ER-2_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558105_S091_10_mmepiAT_LHFD_ATAC_ER-3_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/GSM7558107_S091_12_mmepiAT_LHC_ATAC_ER-3_GRCm38_bowtie2.sorted.bam.FDR_0.01.stringent.bed.gz
external-datasets/snATACseq/mm10.fa
external-datasets/snATACseq/mm10.fa.fai
external-datasets/snATACseq/JASPAR2022_CORE_non-redundant_pfms_meme.txt

*.bam
*.bai
*.fa
external-datasets/snATACseq/GSE236575/results/motif_analysis/ame_results/CHD_vs_shared/sequences.tsv
external-datasets/snATACseq/GSE236575/results/motif_analysis/ame_results/HFD_vs_CHD/sequences.tsv
external-datasets/snATACseq/GSE236575/results/motif_analysis/ame_results/HFD_vs_shared/sequences.tsv
